.map-wide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.map-wide-data-container {
  background: #dfdfdf;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: auto;
  max-height: 75vh;

  .toggle-button {
    padding: 1.15em;
    width: 100%;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    text-align: left;

    &:hover, &:focus {
      color: #222;
      text-decoration: none;
    }
  }

  .toggle-container {
    height: 75vh;
    overflow: scroll;
  }
}