.map-wide {}

.map-wide-data-container {
  background: #dfdfdf;

  .toggle-button {
    padding: 1.15em;
    width: 100%;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    text-align: left;

    &:hover, &:focus {
      color: #222;
      text-decoration: none;
    }
  }

  .toggle-container {}
}