body {
  background-color: #f7f7f7;
}

.App {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0.5em;
}

.navbar {
  padding: 0.25em 0.75em;
}

.navbar-brand {
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #e9e9e9;
}

.navbar-brand a {
  color: #e9e9e9;
}

.navbar-brand a:hover {
  text-decoration: none;
}

.navbar-brand a:hover span {
  color: #1b1b1b !important;
}

.location-search-group input,
.location-search-group button {
  border-color: #6c757d;
}

footer {
  background-color: #f7f7f7;
  font-size: smaller;
  margin-top: 1.5em;
}

footer a {
  color: #666;
}

footer a:hover {
  color: #888;
}

.about-page p {
  max-width: 480px;
}

/* Location autocomplete */
.autocomplete-dropdown-container {
  position: fixed;
  max-height: 300px;
  overflow: auto;
  z-index: 100;
  width: 100%;
}

.autocomplete-dropdown-container div {
  cursor: pointer;
  background-color: #ffffff;
  padding: 0.375rem 0.75rem;
  min-height: calc(1.5em + 0.75rem + 2px);
  line-height: 1.5em;
  border-bottom: 1px solid #bbb;
}

.autocomplete-dropdown-container div.suggestion-item--active {
  background-color: #fafafa;
}

.no-of-users-alert {
  margin-bottom: 0;
  border: none;
  padding: 0.4em 0.6em;
  padding-right: 1.4em;
  font-size: 12px;
}

.no-of-users-alert button {
  padding: 0.2em 0.6em !important;
}

/* Card */
.card {
  font-size: 0.925em;
  line-height: 1.5;
}

.card-result-block {
  background: #fff;
  cursor: pointer;
}

.card-result-block:hover {
  background: #eee;
}

.card-result-block-selected {
  background: #fff9e7;
}

.results-search-box {
  width: 13em;
}

@media only screen and (max-width: 600px) {
  .search-results-title {
    display: none !important;
  }
}

.highlighted-text {
  background: #fff8a0;
  padding: 0.2em 0;
}

.no-of-users-alert {
  padding-right: 2.5em;
}

.language-selector {
  margin-top: 25px;
}

.language-selector__toggle {
  background: transparent !important;
  color: #1a1a1a !important;
  border: 1px solid #1a1a1a !important;
  text-transform: capitalize;
  width: 140px;
  text-align: left;
  position: relative;
}

.language-selector__toggle i {
  margin-right: 5px;
}

.language-selector__toggle:after {
  position: absolute;
  top: 50%;
  right: 11px;
  transform: translateY(-50%);
}

.language-selector__item {
  text-transform: capitalize;
}

.MuiFormControl-root.time-picker {
  display: block;
}

.MuiFormControl-root.time-picker.hasError .MuiInput-underline:after {
  transform: scaleX(1);
  border-color: #f44336;
}

.closing-time-error {
  color: #f44336;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  margin-top: 8px;
}

.btn-success.disabled,
.btn-success:disabled {
  pointer-events: none;
}

.places-autocomplete-wrapper .sticky {
  z-index: 5;
  background-color: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
}

.toggle-past-entries i {
  position: relative;
  top: 1px;
}
