.App {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0.5em;
}

.navbar {
  padding: 0.25em 0.5em;
}

/* Location autocomplete */
.autocomplete-dropdown-container {
  position: fixed;
  max-height: 300px;
  overflow: auto;
  z-index: 100;
  width: 100%;
}
.autocomplete-dropdown-container div {
  cursor: pointer;
  background-color: #ffffff;
  padding: 0.375rem 0.75rem;
  min-height: calc(1.5em + 0.75rem + 2px);
  line-height: 1.5em;
  border-bottom: 1px solid #bbb;
}
.autocomplete-dropdown-container div.suggestion-item--active {
  background-color: #fafafa;
}
