body {}

.App {
  padding: 0;
  margin: 0;
}

.page {
  background-color: #fff;
  margin-top: 48px; /* Since the navbar is fixed. */
}

.container {
  padding: 0.5em;
}

.navbar {
  padding: 0.25em 0.75em;
}

.navbar-brand {
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #e9e9e9;
}
.navbar-brand a {
  color: #e9e9e9;
}
.navbar-brand a:hover {
  text-decoration: none;
}
.navbar-brand a:hover span {
  color: #1b1b1b !important;
}

footer {
  background-color: #f7f7f7;
  font-size: smaller;
  margin-top: 1.5em;
}
footer a {
  color: #666;
}
footer a:hover {
  color: #888;
}

.about-page p {
  max-width: 480px;
}

/* Location autocomplete */
.autocomplete-dropdown-container {
  position: fixed;
  max-height: 300px;
  overflow: auto;
  z-index: 100;
  width: 100%;
}
.autocomplete-dropdown-container div {
  cursor: pointer;
  background-color: #ffffff;
  padding: 0.375rem 0.75rem;
  min-height: calc(1.5em + 0.75rem + 2px);
  line-height: 1.5em;
  border-bottom: 1px solid #bbb;
}
.autocomplete-dropdown-container div.suggestion-item--active {
  background-color: #fafafa;
}
